body{
    background-color: #05dfd7;
    color:1d1b38;
}
hr{
    border-style: dotted none none;
    width: 20%;
    border-width: 5px;
}
form{
    background-color: 05dfd7;
    
}
h2{
    color:#679b9b;
    
}